.banner {
  display: flex;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}
